{% extends 'base.html' %}
{% block title %}Cadastro{% endblock title %}

{% block content %}
<div id="cadastro" style="margin-top: 2%; margin-bottom: 2%; margin-left: 35%;">
		<div id="teste">
            <br/>
			<h2 id="titulo" align="center"><strong>DEIXE SEU COMENTÁRIO PARA MELHORARMOS</strong></h2>
			<div id="bloCad">
				<img src="{{ url_for('static', filename='img/cadastrar.png') }}" id="pessoa" width="20%" style="margin-left: 40%;"/>
				<div id="dFormLog" style=" padding: 5%;">
                    <form  method="POST" action="">
                        {{form.hidden_tag ()}}
                            <div class="row">
                                <div class="input-field col s12">
                                    {{form.email.label}}<br>
                                    {{form.email(class="form-control")}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{form.msg.label}}<br>
                                    {{form.msg(class="form-control")}}
                                    
                                </div>
                            </div><br>
                                {{form.submit(class="btn btn-outline-danger")}}
                    </form >
                    <br>
</div>
</div>
</div>
</div>
{% endblock content %}