{% extends 'base.html' %}
{% block title %}Ocupações{% endblock title %}

{% block content %}
<div id="part5">
        <br/>
        <h2 id="titulo" align="center"><strong>COMO TE AJUDAREMOS</strong></h2>
        <h6 align="center">
        <div id="bloco2" align="left">
                <p align="justify">Nossa plataforma tem o intuito de te auxiliar de algum modo, para isso, enviaremos as suas informações de cadastro para empresas
                comprometidas com grupo. Assim que obtermos uma resposta favoravel, entraremos em contato contigo e realizaremos um encontro com a
                empresa apoiadora. Tenha fé e não desanime, estamos aqui para te ajudar independente da situação que esteja passando ou vivendo,
                faremos o possível para beneficiar a todos, tenham uma boa sorte para ganhar uma oportunidade de emprego válido e compensador.
                </p>
        </div>	
        </h6>
        <br/>
        <div align="center">
            <img src="{{ url_for('static', filename='img/download.jpg') }}" alt="fé" width="10%" id=""></a>
        </div>	
        <br/>
        <div id="empresa">
            <br/>
            <h2 id="titulo" align="center"><strong>QUER CADASTRAR SUA EMPRESA?</strong></h2>
            <br/>
            <h4 id="titulo" align="center"><strong>Entre em contato</strong></h2>
            <table align="center" id="redes">
                <tr>
                    <td align="center">
                        <h4 id="titulo" align="center"><strong>Número:</strong></h2>
                    </td>
                    <td align="center">
                        (77) 99999-9999
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h4 id="titulo" align="center"><strong>E-mail:</strong></h2>
                    </td>
                    <td align="center">
                        oportunidade_de_emprego-gbi@gmail.com
                    </td>
                </tr>
            </table>
        </div>
</div>
{% endblock content %}